
.work-sans-normal> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.text-prymari{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
/* nav style */
.benner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 100px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nave-taital{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
.banner-grt{
    font-size: 45px;
    font-weight: 600;
}
.banner-taital{
    font-weight: bold;
    font-size: 85px;
}
.banner-pro{
    width: 580px;
}
.benner-contant{
    max-width: 580px;
}
.header{
    background-image: url("../images/developer.png"),url('../images/header_bg.png');
    background-repeat: no-repeat;
    padding: 70px;
    background-position: top left, bottom right;
}