
.work-sans-normal> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.text-prymari{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}
.btn-primary{
    background-color: #FD6E0A;
    font-weight: bold;
    color: white;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    border: none;
}
/* nav style */
.benner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 100px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 100px;
}
nav ul{
    display: flex;
    align-items: center;
}
.nave-taital{
    font-weight: 800;
    font-size: 45px;
}
nav ul li{
    list-style: none;
    margin-right: 50px;
}
nav ul li a{
    text-decoration: none;
    font-size: 20px;
}
.banner-grt{
    font-size: 45px;
    font-weight: 600;
}
.banner-taital{
    font-weight: bold;
    font-size: 85px;
}
.banner-pro{
    width: 580px;
}
.benner-contant{
    max-width: 580px;
}
.header{
    background-image: url("../images/developer.png"),url('../images/header_bg.png');
    background-repeat: no-repeat;
    padding: 70px;
    background-position: top left, bottom right;
}
.sestion-taital{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
}
.sestion-desption{
    font-size: 18px;
    color: #757575;
}
.seandary-bg{
    background-color: #FFF8F3;
}
.about{
    border-radius: 10px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
    padding: 130px 150px;
    margin-top: 70px;
    text-align: center;
   
}
main section{
     margin-top: 70px;
     margin-bottom: 70px;
}
.item-desptiom{
    font-weight: 600;
}
.about-items{
    display: flex;
    justify-content: space-around;
}
.text-center{
    text-align: center;
}
.skils-conteiner{
    display: flex;
    gap: 24px;
}
.skil{
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skil ig{
    text-align:right;
}
.resume-container {
  display: flex;
  gap: 24px;
  justify-content: space-between;
}

.resumi-colum {
  flex: 1;
}


.experance-sub-taital{
    font-size: 20px;
    font-weight: 6px;
    margin-bottom: 20px;
}
.experence-desception, .experance-sub-taital{
    color: #757575;
}
.resume hr{
    margin: 30px;
}
.btn-primary CV{
    margin: 50px;
}
footer{
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-colum{
    width: 50%;
}
 footer input[type="text"], footer input[type="email"], footer textarea{
      height: 64px;
      border-radius: 5px;
      background-color: white;
      display: block;
      width: 100%;
      padding: 10px 20px;
      margin-bottom: 24px;
      border: none;
}